<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Contact | CarVoyage')}"
    ></th:block>
  </head>
  <body>
    <th:block th:insert="~{fragments/header-ostatak :: header}"></th:block>

    <!-- Flash message -->
    <!-- Flash message for success -->
    <div
      th:if="${message}"
      x-data="{ show: true }"
      x-show="show"
      x-init="setTimeout(() => show = false, 10000)"
      x-transition:leave="transition ease-out duration-1000"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-[#1ECB15] border border-green-300 rounded-[30px] bg-green-50 mt-[4.8rem]"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 mr-3"
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        viewBox="0 0 1024 1024"
      >
        <path
          fill="currentColor"
          d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896m-55.808 536.384l-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.27 38.27 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336z"
        />
      </svg>
      <span class="sr-only">Success</span>
      <div>
        <span class="font-medium" th:text="${message}"></span>
      </div>
    </div>

    <!-- Contact Us -->
    <div class="max-w-[85rem] px-4 py-10 mx-auto">
      <div class="max-w-2xl lg:max-w-[1100px] mx-auto">
        <div class="text-center w-full lg:w-auto mx-auto">
          <h2 class="text-[#333333] text-[40px] font-bold">Contact us</h2>
          <p class="mt-[10px] text-gray-600 w-[900px] mx-auto">
            We’re here to help! If you have any questions, concerns, or
            feedback, please reach out to us using the contact form below. Our
            team will get back to you as soon as possible.
          </p>
        </div>
        <hr class="border-0 h-[3px] bg-[#EFEFEF] mt-[15px] mb-[10px] w-full" />

        <div class="mt-[30px] grid lg:grid-cols-2 gap-6 lg:gap-16">
          <!-- Card -->
          <div
            class="flex flex-col border border-[#a5dfa2] rounded-[30px] p-4 sm:p-6 lg:p-8"
          >
            <h2 class="mb-8 text-xl font-semibold text-gray-800">
              Fill in the form
            </h2>

            <form th:action="@{/contact}" method="POST">
              <div class="grid gap-4">
                <!-- Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div>
                    <label for="firstName" class="sr-only">First Name</label>
                    <input
                      type="text"
                      name="firstName"
                      id="firstName"
                      class="py-3 px-4 block w-full border border-[#a5dfa2] rounded-[30px] text-sm focus:border-[#1ECB15] focus:ring-[#1ECB15]"
                      placeholder="First Name"
                      required
                    />
                  </div>

                  <div>
                    <label for="lastName" class="sr-only">Last Name</label>
                    <input
                      type="text"
                      name="lastName"
                      id="lastName"
                      class="py-3 px-4 block w-full border border-[#a5dfa2] rounded-[30px] text-sm focus:border-[#1ECB15] focus:ring-[#1ECB15]"
                      placeholder="Last Name"
                      required
                    />
                  </div>
                </div>
                <!-- End Grid -->

                <div>
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    class="py-3 px-4 block w-full border border-[#a5dfa2] rounded-[30px] text-sm focus:border-[#1ECB15] focus:ring-[#1ECB15]"
                    placeholder="Email"
                    required
                  />
                </div>

                <div>
                  <label for="phone" class="sr-only">Phone Number</label>
                  <input
                    type="text"
                    name="phone"
                    id="phone"
                    class="py-3 px-4 block w-full border border-[#a5dfa2] rounded-[30px] text-sm focus:border-[#1ECB15] focus:ring-[#1ECB15]"
                    placeholder="Phone Number"
                    required
                  />
                </div>

                <div>
                  <label for="details" class="sr-only">Details</label>
                  <textarea
                    id="details"
                    name="details"
                    rows="4"
                    class="resize-none py-3 px-4 block w-full border border-[#a5dfa2] rounded-[30px] text-sm focus:border-[#1ECB15] focus:ring-[#1ECB15]"
                    placeholder="Details"
                    required
                  ></textarea>
                </div>
              </div>
              <!-- End Grid -->

              <div class="mt-4 grid">
                <button
                  type="submit"
                  class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-[30px] border border-transparent bg-[#1ECB15] text-white transition-colors hover:bg-green-600"
                >
                  Send inquiry
                </button>
              </div>

              <div class="mt-3 text-center">
                <p class="text-sm text-gray-500">
                  We'll get back to you in 1-2 business days.
                </p>
              </div>
            </form>
          </div>
          <!-- End Card -->

          <div class="divide-y divide-gray-200">
            <!-- Icon Block -->
            <div class="flex gap-x-7 py-6">
              <svg
                class="flex-shrink-0 size-6 mt-1.5 text-gray-800"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"
                />
                <path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1" />
              </svg>
              <div class="grow">
                <h3 class="font-semibold text-gray-800">FAQ</h3>
                <p class="mt-1 text-sm text-gray-500">
                  Search our FAQ for answers to anything you might ask.
                </p>
                <a
                  class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-[#1ECB15]"
                  href="/#FAQ"
                >
                  Visit FAQ
                  <svg
                    class="flex-shrink-0 size-2.5 transition ease-in-out group-hover:translate-x-1"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37776 0.43689 8.79749 0.975821 8.79749L10.1282 8.79749L7.33327 11.5483C6.92322 11.9535 6.92322 12.6214 7.33327 13.0267C7.74332 13.4319 8.41124 13.4319 8.82129 13.0267L13.6755 8.1486C13.7365 8.09167 13.7865 8.0223 13.8254 7.94355C13.9022 7.76464 13.9022 7.55447 13.8254 7.37556C13.7865 7.2968 13.7365 7.22743 13.6755 7.17051L8.82129 2.2924C8.41124 1.88714 7.74332 1.88714 7.33327 2.2924C6.92322 2.69766 6.92322 3.36559 7.33327 3.77085L10.1282 6.52161L0.975821 6.52251L0.975821 6.92249Z"
                      fill="currentColor"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex gap-x-7 py-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 4.99L4 6zm0 12H4V8l8 5l8-5z"
                />
              </svg>
              <div class="grow">
                <h3 class="font-semibold text-gray-800">
                  Contact us with email
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  You can also reach out to us directly via email for any
                  inquiries or support.
                </p>
                <a
                  class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-[#1ECB15]"
                  href="mailto:carvoyage.contact@gmail.com"
                >
                  carvoyage.contact@gmail.com
                  <svg
                    class="flex-shrink-0 size-2.5 transition ease-in-out group-hover:translate-x-1"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37776 0.43689 8.79749 0.975821 8.79749L10.1282 8.79749L7.33327 11.5483C6.92322 11.9535 6.92322 12.6214 7.33327 13.0267C7.74332 13.4319 8.41124 13.4319 8.82129 13.0267L13.6755 8.1486C13.7365 8.09167 13.7865 8.0223 13.8254 7.94355C13.9022 7.76464 13.9022 7.55447 13.8254 7.37556C13.7865 7.2968 13.7365 7.22743 13.6755 7.17051L8.82129 2.2924C8.41124 1.88714 7.74332 1.88714 7.33327 2.2924C6.92322 2.69766 6.92322 3.36559 7.33327 3.77085L10.1282 6.52161L0.975821 6.52251L0.975821 6.92249Z"
                      fill="currentColor"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
        </div>
      </div>
    </div>

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
