<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Forgotten Password | CarVoyage')}"
    ></th:block>
  </head>
  <body class="min-h-[90dvh]">
    <th:block th:insert="~{fragments/header-ostatak :: header}"></th:block>

    <!-- Flash message for errors -->
    <div
      th:if="${errorMessage}"
      x-data="{ show: true }"
      x-show="show"
      x-init="setTimeout(() => show = false, 10000)"
      x-transition:leave="transition ease-out duration-1000"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-[30px] bg-red-50 mt-[4.8rem]"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 mr-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Error</span>
      <div>
        <span class="font-medium" th:text="${errorMessage}"></span>
      </div>
    </div>

    <!-- Flash message for success -->
    <div
      th:if="${successMessage}"
      x-data="{ show: true }"
      x-show="show"
      x-init="setTimeout(() => show = false, 10000)"
      x-transition:leave="transition ease-out duration-1000"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-[#1ECB15] border border-green-300 rounded-[30px] bg-green-50 mt-[4.8rem]"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 mr-3"
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        viewBox="0 0 1024 1024"
      >
        <path
          fill="currentColor"
          d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896m-55.808 536.384l-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.27 38.27 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336z"
        />
      </svg>
      <span class="sr-only">Success</span>
      <div>
        <span class="font-medium" th:text="${successMessage}"></span>
      </div>
    </div>

    <section
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
    >
      <div
        class="w-full bg-white border border-[#a5dfa2] rounded-[30px] shadow md:mt-0 sm:max-w-md xl:p-0"
      >
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h2
            class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
          >
            Forgotten password
          </h2>
          <p class="text-sm font-normal ml-[5px] text-[#212529]">
            Enter your email address below so we can send you a link to reset
            your password.
          </p>

          <form
            th:action="@{/forgotten-password}"
            method="post"
            class="space-y-4 md:space-y-6"
          >
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-bold ml-[5px] text-[#212529]"
                >E-mail address</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="border border-[#a5dfa2] text-[#333333] text-sm rounded-[30px] focus:border-[#1ECB15] focus:ring-[#1ECB15] block w-full p-2.5"
                autocomplete="email"
                required
              />
            </div>
            <div>
              <button
                type="submit"
                class="w-full py-3 px-4 flex justify-center items-center font-semibold rounded-[30px] text-white bg-[#1ECB15] hover:bg-[#179510] transition-colors"
              >
                Submit
              </button>
            </div>
            <div class="mt-4 text-sm text-center text-gray-500">
              Don't have an account?
              <a
                th:href="@{/registration}"
                class="font-medium text-[#179510] hover:underline decoration-[#179510]"
                >Register</a
              >
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer>
      <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
  </body>
</html>
