<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Login | CarVoyage')}"
    ></th:block>
  </head>
  <body class="min-h-[90dvh]">
    <th:block th:insert="~{fragments/header-ostatak :: header}"></th:block>
    <section
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
    >
      <div
        th:if="${param.error}"
        x-data="{ show: true }"
        x-show="show"
        x-init="setTimeout(() => { show = false; history.replaceState({}, document.title, window.location.pathname); }, 5000)"
        x-transition:leave="transition ease-out duration-1000"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="gap-2 absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-red-700 border border-red-300 rounded-[30px] bg-red-50 mt-[80px]"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
            clip-rule="evenodd"
          />
        </svg>

        <span class="sr-only">Error</span>
        <div>
          <span class="font-medium"
            >Incorrect username or password. Please try again.</span
          >
        </div>
      </div>

      <!--flash message for success-->
      <div
        th:if="${successMessage}"
        x-data="{ show: true }"
        x-show="show"
        x-init="setTimeout(() => show = false, 10000)"
        x-transition:leave="transition ease-out duration-1000"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-[#1ECB15] border border-green-300 rounded-[30px] bg-green-50 mt-[80px]"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 mr-3"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 1024 1024"
        >
          <path
            fill="currentColor"
            d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896m-55.808 536.384l-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.27 38.27 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336z"
          />
        </svg>

        <span class="sr-only">Success</span>
        <div>
          <span class="font-medium" th:text="${successMessage}"></span>
        </div>
      </div>
      <div
        class="w-full bg-white border border-[#a5dfa2] rounded-[30px] shadow md:mt-0 sm:max-w-md xl:p-0"
      >
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h2
            class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
          >
            Sign in
          </h2>
          <p class="text-center text-sm font-normal text-[#212529]">
            Don't have an account yet?
            <a
              th:href="@{/registration}"
              class="font-medium text-[#179510] hover:underline decoration-[#179510]"
              >Sign up here</a
            >
          </p>

          <div
            class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6"
          >
            Or
          </div>
          <form
            class="space-y-4 md:space-y-6"
            th:action="@{/login}"
            method="POST"
          >
            <div>
              <label
                for="username"
                class="block mb-2 pl-[5px] text-sm font-bold text-[#212529]"
                >Username</label
              >
              <input
                type="text"
                id="username"
                name="username"
                class="border border-[#a5dfa2] text-[#333333] text-sm rounded-[30px] focus:border-[#1ECB15] focus:ring-[#1ECB15] block w-full p-2.5"
                placeholder="John Doe"
                required
                aria-describedby="username-error"
              />
            </div>

            <div>
              <div class="flex justify-between items-center">
                <label
                  for="password"
                  class="block mb-2 pl-[5px] text-sm font-bold text-[#212529]"
                  >Password</label
                >
                <a
                  class="font-medium text-[#179510] hover:underline decoration-[#179510] mr-[5px] text-sm"
                  th:href="@{/forgotten-password}"
                  >Forgot password?</a
                >
              </div>
              <input
                type="password"
                id="password"
                name="password"
                class="border border-[#a5dfa2] text-[#333333] text-sm rounded-[30px] focus:border-[#1ECB15] focus:ring-[#1ECB15] block w-full p-2.5"
                placeholder="••••••••"
                required
                aria-describedby="password-error"
              />
            </div>

            <div class="flex items-start">
              <div class="flex items-center h-[22px]">
                <input
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                  class="border border-[#a5dfa2] text-[#1ECB15] rounded-[30px] focus:ring-[#1ECB15]"
                />
              </div>
              <div class="ml-2 text-sm">
                <label for="remember-me" class="mb-2 text-sm text-[#212529]"
                  >Remember me</label
                >
              </div>
            </div>

            <button
              type="submit"
              class="w-full py-3 px-4 flex justify-center items-center font-semibold rounded-[30px] text-white bg-[#1ECB15] hover:bg-[#179510] transition-colors"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer>
      <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
  </body>
</html>
