<!DOCTYPE html>
<html
  lang="hr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Reset Password | CarVoyage')}"
    ></th:block>
    <script th:src="@{/js/resetPasswordValidation.js}" defer="defer"></script>
  </head>
  <body class="min-h-[90dvh] bg-gray-100">
    <th:block th:insert="~{fragments/header-ostatak :: header}"></th:block>
    <section
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
    >
      <div
        class="w-full bg-white border border-[#a5dfa2] rounded-[30px] shadow md:mt-0 sm:max-w-md xl:p-0"
      >
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h2
            class="text-center text-xl pl-[5px] font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
          >
            New Password
          </h2>

          <!-- Flash message for error -->
          <div
            th:if="${errorMessage}"
            x-data="{ show: true }"
            x-show="show"
            x-init="setTimeout(() => show = false, 10000)"
            x-transition:leave="transition ease-out duration-1000"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-[4.8rem] dark:text-red-400 dark:border-red-800 dark:bg-gray-700"
            role="alert"
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 mr-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Error</span>
            <div>
              <span class="font-medium" th:text="${errorMessage}"></span>
            </div>
          </div>

          <form
            th:action="@{/reset-password}"
            method="post"
            class="space-y-4 md:space-y-6"
            onsubmit="return validateForm()"
          >
            <input type="hidden" name="token" th:value="${token}" />

            <div>
              <label
                for="password"
                class="block mb-2 ml-[5px] text-sm font-bold text-[#212529]"
                >New password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                required
                class="border border-[#a5dfa2] text-[#333333] text-sm rounded-[30px] focus:border-[#1ECB15] focus:ring-[#1ECB15] block w-full p-2.5"
                oninput="validatePassword()"
              />
              <ul
                id="passwordCriteria"
                class="ml-[5px] max-w-md space-y-1 text-gray-500 mt-4 list-disc list-inside dark:text-gray-300"
              >
                <li id="lengthCriteria">At least 6 characters</li>
                <li id="numberCriteria">At least 1 number</li>
                <li id="specialCharCriteria">
                  At least 1 special character(!, @, #, ?)
                </li>
              </ul>
            </div>

            <div>
              <label
                for="confirmPassword"
                class="block mb-2 ml-[5px] text-sm font-bold text-[#212529]"
                >Confirm password
                <span id="passwordError" class="text-red-500"></span
              ></label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                required
                class="border border-[#a5dfa2] text-[#333333] text-sm rounded-[30px] focus:border-[#1ECB15] focus:ring-[#1ECB15] block w-full p-2.5"
                oninput="checkPasswordsMatch()"
              />
            </div>

            <button
              type="submit"
              class="w-full py-3 px-4 flex justify-center items-center font-semibold rounded-[30px] text-white bg-[#1ECB15] hover:bg-[#179510] transition-colors"
            >
              Confirm
            </button>
          </form>
        </div>
      </div>
    </section>

    <footer>
      <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
  </body>
</html>
