<!DOCTYPE html>
<html lang="hr">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Terms and Conditions | CarVoyage')}"
    ></th:block>
  </head>
  <body class="bg-gray-50 text-gray-900">
    <th:block th:insert="~{fragments/header-ostatak :: header}"></th:block>

    <div class="mx-auto max-w-4xl px-4 py-8">
      <!-- Heading -->
      <div class="mb-6 text-center">
        <h2>Terms of Use</h2>
      </div>

      <!-- Terms Content -->
      <div
        class="bg-white p-6 shadow-md border border-[#a5dfa2] rounded-[30px]"
      >
        <p class="text-right font-medium mb-6">
          Date of last update: 02/07/2024.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          1. Acceptance of the Terms of Use
        </h2>
        <p class="mb-6">
          Please read and understand these terms of use carefully before
          accessing or using the CarVoyage platform. By accessing and using our
          website, you accept all conditions specified in this document. If you
          do not agree with any part of these terms, do not use our platform.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          2. User Account Registration
        </h2>
        <p class="mb-6">
          a. To rent a vehicle through CarVoyage, users must register and create
          a user account.
        </p>
        <p class="mb-6">
          b. Your registration details must be accurate and up-to-date.
          Registered users are responsible for the security of their account
          information.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          3. Vehicle Rental Process
        </h2>
        <p class="mb-6">
          a. Renting a vehicle is subject to availability and requires a valid
          driver's license and credit card.
        </p>
        <p class="mb-6">
          b. Users must provide accurate information when booking a rental.
          CarVoyage is not responsible for issues arising from incorrect or
          incomplete booking details.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          4. Rental Fees and Payments
        </h2>
        <p class="mb-6">
          a. Rental fees are determined based on the type of vehicle, rental
          duration, and additional services selected.
        </p>
        <p class="mb-6">
          b. All payments must be made in full at the time of booking unless
          otherwise specified.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          5. Vehicle Pickup and Return
        </h2>
        <p class="mb-6">
          a. Users are responsible for picking up and returning the vehicle at
          the agreed times and locations.
        </p>
        <p class="mb-6">b. Late returns may incur additional charges.</p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          6. User Support
        </h2>
        <p class="mb-6">
          a. For any questions, complaints, or technical issues, users can
          contact our customer support via email or phone.
        </p>

        <!-- <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          7. Privacy and Data Processing
        </h2>
        <p class="mb-6">
          a. Your privacy is important to us. Details about the collection and
          processing of personal data can be found in our
          <a href="/privacy-policy" class="text-cyan-600 hover:underline"
            >privacy policy</a
          >.
        </p> -->

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          7. Modifications to Terms of Use
        </h2>
        <p class="mb-6">
          a. CarVoyage reserves the right to modify these terms of use at any
          time. We will notify users of any significant changes.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          8. Final Provisions
        </h2>
        <p class="mb-6">
          a. These terms of use govern the relationship between users and
          CarVoyage and apply to all users.
        </p>
        <p>
          b. Any violation of these terms may result in restricted access to the
          platform or other appropriate measures.
        </p>
      </div>
    </div>

    <footer>
      <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
  </body>
</html>
